# MySql Database 설정
DB_HOST=db
DB_NAME=webide
DB_USER_NAME=DB 접속용 사용자 이름 ex.root
DB_USER_PASSWORD=위 사용자 비밀번호
DB_ROOT_PASSWORD=루트 계정 비밀번호

# RDS MySql
RDS_ENDPOINT=
RDS_DB_NAME=
RDS_DB_USER_NAME=
RDS_DB_PASSWORD=

# AWS S3 (BE 담당자 문의)
ACCESS_KEY=
SECRET_KEY=

# openssl rand -base64 64 명령어 입력하여 jwt secret 생성
JWT_SECRET = 명령어를 통해 생성한 값
# JWT 만료 시간 (1시간)
JWT_EXPIRATION=3600000

# 환경 설정용 변수
SPRING_PROFILES_ACTIVE=local
